$img-path: '../img/';

$white-color: #ffffff;
$black-color: #000000;
$grey-color: #aaaaaa;

$light-font: 'RobotoLight', sans-serif;
$main-font: 'RobotoRegular', sans-serif;
$bold-font: 'RobotoBold', sans-serif;

$base-size: 100%;
$baze-line: 2;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;